<div class="individual-post-container">
  <img class="individual-post-image" src="{{url}}">
  <span class="ratings"><i class="fa fa-arrow-up"></i>{{rating}}<i class="fa fa-arrow-down"></i></span>
  <h3>{{title}}</h3>
  <p>{{body}}</p>

</div>
