<h1>User Log in</h1>
<form id="registrationForm" class="" action="/login" method="post">
  <p id="registrationBlurb">Log in to your account.</p>
  <div class="registrationInput">
    <label class="registerLabel" for="email">Email:</label>
    <input type="email" name="email" value="" required>
  </div>
  <div class="registrationInput">
    <label class="registerLabel" for="password">Password:</label>
    <input type="password" name="password" value="" required>
  </div>
  <div id="submitButton" class="loginInput">
      <label class="registerLabel"></label>
      <input type="submit" name="" value="Complete">
  </div>
</form>
