<h1>User Log in</h1>
<form id="loginForm" class="" action="/login" method="post">
  <p id="loginBlurb">Log in to your account.</p>
  <div class="loginInput">
    <label class="loginLabel" for="email">Email:</label>
    <input type="email" name="email" value="" required>
  </div>
  <div class="loginInput">
    <label class="loginLabel" for="password">Password:</label>
    <input type="password" name="password" value="" required>
  </div>
  <div id="submitButton" class="loginInput">
      <label class="loginLabel"></label>
      <input type="submit" name="" value="Complete">
  </div>
</form>
