<h1>Submit Post</h1>
<form id="postForm" class="" action="/post" method="post">
  <p id="postBlurb">Submit a new post.  You cannot edit your this once it is posted.</p>
  <div class="postInput">
    <label class="loginLabel" for="title">Title:</label>
    <input type="text" name="title" value="" required>
  </div>
  <div class="postInput">
    <label class="postLabel" for="body">Message:</label>
    <input type="textarea" name="body" value="" required>
  </div>
  <div id="submitButton" class="postInput">
      <label class="postLabel"></label>
      <input type="submit" name="" value="Complete">
  </div>
</form>
