<h1>User Registration</h1>
<p id="registerBlurb">Create an account to start posting.  Your username is not displayed when you post.</p>
<form id="registrationForm" class="" action="" method="post">
  <div class="registrationInput">
    <label class="registerLabel" for="email">Email:</label>
    <input type="email" name="" value="">
  </div>
  <div class="registrationInput">
    <label class="registerLabel" for="password">Choose password:</label>
    <input type="password" name="" value="">
  </div>
  <div id="submitButton" class="registrationInput">
      <label class="registerLabel"></label>
      <input type="submit" name="" value="Complete">
  </div>
</orm>
